---
# see https://pre-commit.com
default_language_version:
  python: python3.13.0

exclude: |
  (?x)^(
    .+/package.*.json
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=512']
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: trailing-whitespace

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.19.1
    hooks:
      - id: cspell

  # see: https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint

  - repo: local
    hooks:
      - id: textlint
        name: textlint
        language: node
        types: [file]
        files: \.(txt|md|mdown|markdown)$
        entry: textlint
        require_serial: false
        additional_dependencies:
          - 'textlint@12.2.1'
          - 'textlint-filter-rule-allowlist@4.0.0'
          - 'textlint-rule-ja-no-space-between-full-width@2.2.0'
          - 'textlint-filter-rule-comments@1.2.2'
          - 'textlint-rule-no-dropping-the-ra@3.0.0'
          - 'textlint-rule-terminology@3.0.1'

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format GitHub Actions workflow files
        types:
          - yaml
          - json

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.10.4
    hooks:
      - id: renovate-config-validator
        files: renovate\.json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      # Run the linter.
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        language_version: 3.13.0
        types_or: [python, pyi]
        # --fix: enable lint fixes
        args: [--fix]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
      # Run the formatter.
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff' for extremely fast Python formatting"
        entry: ruff format --force-exclude
        language: python
        language_version: 3.13.0
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
